In [1]:
import numpy as np
import pandas as pd
import psycopg2
from sqlalchemy import create_engine, text

In [20]:
POSTGRES_ADDRESS = 'ds4ateam32.cl8xbcsviig5.us-west-2.rds.amazonaws.com'
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'DS4ATEAM32'
POSTGRES_PASSWORD = 'DS4ATEAM32'
POSTGRES_DBNAME = 'DS4ATEAM32'
postgres_str = 'postgresql://' + POSTGRES_USERNAME + ':' + POSTGRES_PASSWORD + '@' + POSTGRES_ADDRESS + ':' + POSTGRES_PORT + '/' + POSTGRES_DBNAME
print(postgres_str)
engine = create_engine(postgres_str)

postgresql://DS4ATEAM32:DS4ATEAM32@ds4ateam32.cl8xbcsviig5.us-west-2.rds.amazonaws.com:5432/DS4ATEAM32

In [21]:
query = """
SELECT 
	u_dpto AS dpto,
	u_mpio AS mpio,
	CASE
		WHEN ua_clase = '1' THEN TRUE
		WHEN ua_clase = '4' THEN FALSE
		ELSE NULL
	END AS cabecera,
	CAST(Q.cod_encuestas AS BIGINT), 
	CAST(Q1.cant_vivienda AS INT), 
	CAST(Q2.cant_hog AS INT), 
	CAST(Q3.cant_per AS INT),
	CASE
		WHEN p_sexo = '1' THEN 'Hombre'
		WHEN p_sexo = '2' THEN 'Mujer'
		ELSE NULL
	END AS sexo,
	CAST(p_edad AS INT) AS edad,
	CASE 
		WHEN p_parentesco = '1' THEN 'Jefe_Hogar'
		WHEN p_parentesco = '2' THEN 'Pareja'
		WHEN p_parentesco = '3' THEN 'Hijo'
		WHEN p_parentesco = '4' THEN 'Otro_Pariente'
		WHEN p_parentesco = '5' THEN 'Otro_No_Pariente'
		ELSE NULL
	END AS parentesco,
	CASE 
		WHEN pa_lug_nac = '1' THEN 'Mpio_Actual'
		WHEN pa_lug_nac = '2' THEN 'Mpio_Distinto'
		WHEN pa_lug_nac = '3' THEN 'Pais_Distinto'
		ELSE NULL
	END AS lug_nac,
	CASE 
		WHEN pa_vivia_5anos = '1' THEN 'No_Nacido'
		WHEN pa_vivia_5anos = '2' THEN 'Mpio_Actual'
		WHEN pa_vivia_5anos = '3' THEN 'Mpio_Distinto'
		WHEN pa_vivia_5anos = '4' THEN 'Pais_Distinto'
		ELSE NULL
	END AS vivia_5anos,
	CASE 
		WHEN pa_vivia_1ano = '1' THEN 'No_Nacido'
		WHEN pa_vivia_1ano = '2' THEN 'Mpio_Actual'
		WHEN pa_vivia_1ano = '3' THEN 'Mpio_Distinto'
		WHEN pa_vivia_1ano = '4' THEN 'Pais_Distinto'
		ELSE NULL
	END AS vivia_1ano,
	CASE
		WHEN p_quehizo_ppal = '1' THEN 'IPS'
		WHEN p_quehizo_ppal = '2' THEN 'Particular'
		WHEN p_quehizo_ppal IN ('3', '4') THEN 'Farmaceuta/Alternativo'
		WHEN p_quehizo_ppal IN ('5', '6') THEN 'Espiritista/Yerbatero'
		WHEN p_quehizo_ppal IN ('7', '8') THEN 'Casero/Autorrecetado'
		WHEN p_quehizo_ppal = '9' THEN 'Nada'
		ELSE NULL
	END AS enfermo,
	CASE
		WHEN pa_lo_atendieron = '1' THEN TRUE
		WHEN pa_lo_atendieron = '2' THEN FALSE
		ELSE NULL
	END AS atendido,
	CAST(pa1_calidad_serv AS INT) AS calidad_serv,
	CASE
		WHEN condicion_fisica = '1' THEN TRUE
		WHEN condicion_fisica = '2' THEN FALSE
		ELSE NUll
	END AS discapacidad,
	CASE
		WHEN p_alfabeta = '1' THEN TRUE
		WHEN p_alfabeta = '2' THEN FALSE
		ELSE NULL
	END AS alfabeta,
	CASE
		WHEN p_nivel_anos IN (1, 2, 3) THEN 'Basico'
		WHEN p_nivel_anos IN (4, 5, 6) THEN 'Medio'
		WHEN p_nivel_anos = 7 THEN 'Tecnico'
		WHEN p_nivel_anos = 8 THEN 'Profesional'
		WHEN p_nivel_anos = 9 THEN 'Posgrado'
		WHEN p_nivel_anos = 10 THEN 'Ninguno'
		ELSE NULL
	END AS nivel_educ,
	CASE
		WHEN p_trabajo = '1.' THEN 'Trabajo_Con_Remun'
		WHEN p_trabajo = '2.' THEN 'Trabajo_Sin_Remun'
		WHEN p_trabajo = '3.' THEN 'No_Trabajo_Con_Remun'
		WHEN p_trabajo = '4.' THEN 'Buscando'
		WHEN p_trabajo = '5.' THEN 'Retirado'
		WHEN p_trabajo = '6.' THEN 'Estudio'
		WHEN p_trabajo = '7.' THEN 'Hogar'
		WHEN p_trabajo = '8.' THEN 'No_Apto'
		ELSE NULL
	END AS trabajo,
	CASE
		WHEN p_est_civil IN ('1.', '2.') THEN 'ULibre/Casado'
		WHEN p_est_civil = '3.' THEN 'Divorciado'
		WHEN p_est_civil IN ('4.', '5.') THEN 'Separado'
		WHEN p_est_civil = '6.' THEN 'Viudo'
		WHEN p_est_civil = '7.' THEN 'Soltero'
		ELSE NULL
	END AS est_civil,
	CAST(NULLIF(pa2_hnvh, 99) AS INT) AS hnvh,
	CAST(NULLIF(pa3_hnvm, 99) AS INT) AS hnvm,
	CAST(NULLIF(pa2_hsvh, 99) AS INT) AS hvh,
	CAST(NULLIF(pa3_hsvm, 99) AS INT) AS hvm,
	CAST(NULLIF(pa2_hfch, 99) AS INT) AS hfch,
	CAST(NULLIF(pa3_hfcm, 99) AS INT) AS hfcm,
	CASE
		WHEN (pa2_ano_uhnv = 9999) OR (pa2_ano_uhnv IS NULL) OR (pa1_mes_uhnv = 99) OR (pa1_mes_uhnv IS NULL) THEN NULL
		ELSE TO_DATE(TO_CHAR(pa2_ano_uhnv, '9999') || '-' || TO_CHAR(pa1_mes_uhnv, '09'), 'YYYY-MM')
	END AS date_uhnv
FROM colombia_data_sample AS Q
INNER JOIN (
	SELECT cod_encuestas, COUNT(DISTINCT u_vivienda) AS cant_vivienda
	FROM colombia_data_sample
	GROUP BY cod_encuestas
) Q1
ON Q.cod_encuestas = Q1.cod_encuestas
INNER JOIN (
	SELECT cod_encuestas, u_vivienda, COUNT(DISTINCT COALESCE(p_nrohog, 1)) AS cant_hog
	FROM colombia_data_sample
	GROUP BY cod_encuestas, u_vivienda
) Q2
ON Q.cod_encuestas = Q2.cod_encuestas AND Q.u_vivienda = Q2.u_vivienda
INNER JOIN (
	SELECT cod_encuestas, u_vivienda, COALESCE(p_nrohog, 1) AS p_nrohog, COUNT(DISTINCT p_nro_per) AS cant_per
	FROM colombia_data_sample
	GROUP BY cod_encuestas, u_vivienda, COALESCE(p_nrohog, 1)
) Q3
ON Q.cod_encuestas = Q3.cod_encuestas AND Q.u_vivienda = Q3.u_vivienda AND  COALESCE(Q.p_nrohog, 1) = COALESCE(Q3.p_nrohog, 1)
;"""

In [23]:
df = pd.read_sql_query(query, engine)
df = df.astype({'dpto':'category', 
                'mpio':'category', 
                'cabecera':'bool',
                'cod_encuestas':'float64',
                'cant_vivienda':'float64',
                'cant_hog':'float64',
                'cant_per':'float64',
                'sexo':'category', 
                'edad':'float64',
                'parentesco':'category', 
                'lug_nac':'category', 
                'vivia_5anos':'category', 
                'vivia_1ano':'category', 
                'enfermo':'category', 
                'atendido':'bool', 
                'calidad_serv':'float64',
                'discapacidad':'bool', 
                'alfabeta':'bool', 
                'nivel_educ':'category', 
                'trabajo':'category', 
                'est_civil':'category', 
                'hnvh':'float64', 
                'hnvm':'float64', 
                'hnvm':'float64', 
                'hvh':'float64', 
                'hvm':'float64', 
                'hfch':'float64', 
                'hfcm':'float64'})
df['date_uhnv'] = pd.to_datetime(df['date_uhnv'], errors='coerce')
df.head()

,dpto,mpio,cabecera,cod_encuestas,cant_vivienda,cant_hog,cant_per,sexo,edad,parentesco,...,nivel_educ,trabajo,est_civil,hnvh,hnvm,hvh,hvm,hfch,hfcm,date_uhnv
0,05,045,False,32.0,1.0,1.0,1.0,Hombre,2.0,Hijo,...,Basico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,88,001,True,35.0,1.0,1.0,1.0,Hombre,4.0,Hijo,...,Basico,Estudio,Soltero,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,05,045,True,84.0,1.0,1.0,1.0,Mujer,6.0,Pareja,...,Medio,Trabajo_Con_Remun,ULibre/Casado,2.0,0.0,2.0,0.0,NaN,NaN,2012-12-01
3,05,045,True,85.0,1.0,1.0,1.0,Hombre,8.0,Jefe_Hogar,...,Basico,No_Trabajo_Con_Remun,ULibre/Casado,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,05,045,True,97.0,1.0,1.0,1.0,Hombre,7.0,Jefe_Hogar,...,Medio,Trabajo_Sin_Remun,ULibre/Casado,NaN,NaN,NaN,NaN,NaN,NaN,NaT

### Columnas:
1. **dpto**: Departamento. (string)
2. **mpio**: Municipalidad. (string)
3. **cabecera**: ¿Municipalidad cabecera? (boolean)
4. **cod_encuestas**: Código único de encuesta. (numeric)
5. **cant_vivienda**: Cantidad de viviendas por código de encuesta. (numeric)
6. **cant_hog**: Cantidad de hogares por vivienda. (numeric)
7. **cant_per**: Cantidad de personas por hogar. (numeric)
8. **sexo**: Sexo. (category: Hombre, Mujer)
9. **edad**: Edad. (numeric: rangos de 5 años, edad 1 comprende de 0 a 4 años cumplidos y 21 de 100 en adelante)
10. **parentesco**: Parentesco respecto a jefe de hogar. (category: Jefe_Hogar, Pareja, Hijo, Otro_Pariente, Otro_No_Pariente)
11. **lug_nac**: Nacimiento respecto a municipio actual. (category: Mpio_Actual, Mpio_Distinto, Pais_Distinto)
12. **vivia_5anos**: Vivienda respecto a municipio actual hace 5 años. (category: No_Nacido, Mpio_Actual, Mpio_Distinto, Pais_Distinto)
13. **vivia_1ano**: Vivienda respecto a municipio actual hace 1 año. (category: No_Nacido, Mpio_Actual, Mpio_Distinto, Pais_Distinto)
14. **enfermo**: Acción realizada la última vez que estuvo enfermo. NULL no ha estado enfermo en el último mes. (category: IPS, Particular, Farmaceuta/Alternativo, Espiritista/Yerbatero, Casero/Autorrecetado, Nada)
15. **atendido**: ¿Fue atendido por la IPS? (boolean)
16. **calidad_serv**: Calificación del servicio de la IPS. (numeric)
17. **discapacidad**: ¿Persona discapacitada? (boolean)
18. **alfabeta**: ¿Es alfabeta? (bool)
19. **nivel_educ**: Nivel de educación máximo alcanzado. (category: Basico, Medio, Tecnico, Profesional, Posgrado, Ninguno)
20. **trabajo**: Estado laboral. (category: Trabajo_Con_Remun, Trabajo_Sin_Remun, No_Trabajo_Con_Remun, Buscando, Retirado, Estudio, Hogar, No_Apto)
21. **est_civil**: Estado civil. (category: ULibre/Casado, Divorciado, Separado, Viudo, Soltero)
22. **hnvh**: Cantidad de hijos nacidos vivos hombres. (numeric)
23. **hnvm**: Cantidad de hijas nacidas vivas mujeres. (numeric)
24. **hvh**: Cantidad de hijos vivos hombres. (numeric)
25. **hvm**: Cantidad de hijas vivas mujeres. (numeric)
26. **hfch**: Cantidad de hijos fuera de Colombia hombres. (numeric)
27. **hfcm**: Cantidad de hijas fuera de Colombia mujeres. (numeric)
28. **date_uhnv**: Fecha de último hijo nacido vivo. (date)